<div class="hero mb-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-6">
				<div class="p-5">
					<h3><s>不会写代码</s></h3>
						<p><s>不是程序“猿”</s></p>
						<h2 class="text-primary">也可以建网站</h2>
						<p>只需要改变 2 个颜色就会让你的网站焕然一新。Acorn 是一颗精心设计的移动端优先的 Hexo 主题，适用于中小型企业门户或工作室等展示类网站的简单建设。</p>
						<ul class="list-inline mt-5">
							<li class="list-inline-item">
								<button class="btn btn-lg btn-primary text-white">开始体验</button>
							</li>
							<li class="list-inline-item">
								<button class="btn btn-gray text-white">设计定制</button>
							</li>
						</ul>
				</div>
			</div>
			<div class="col-6">
				<div class="p-5">
					<div class="safari shadow">
						<div class="safari-header px-3">
							<span class="safari-btns"></span>
						</div>
						<div class="safari-body">
							<figure class="safari-example"></figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
