
<div id="my-keen-slider" class="keen-slider">
  <div class="keen-slider__slide number-slide1">
    <section class="keen-slider-inset text-center text-white">
      <h2 class="h1"><%- theme.slogan.primary %></h2>
      <p><%- theme.slogan.secondary %></p>
    </section>
  </div>
  <div class="keen-slider__slide number-slide2">
    <section class="keen-slider-inset text-center text-white">
      <h2 class="h1"><%- theme.slogan.primary %></h2>
      <p><%- theme.slogan.archives %></p>
    </section>
  </div>
</div>


