<div class="container">

  <div class="docs_wrap">
    <aside class="docs_sidebar">
      <%- partial('_docs/menu', {class_name: 'docs_menus'}) %>
    </aside>
    <article class="docs_article" id="doc_<%- page.id %>" itemscope itemtype="http://schema.org/Article">
      <%- partial('_docs/article') %>
    </article>
  </div>

</div>
