//
// Visual Identity System
// Our color palette

// Primary
vis-primary-color            = #1e90ff
vis-primary-color-darken     = darken(vis-primary-color, 10%)
vis-primary-color-lighten    = lighten(vis-primary-color, 10%)

// Secondary
vis-secondary-color          = #ffa502
vis-secondary-color-darken   = darken(vis-secondary-color, 10%)
vis-secondary-color-lighten  = lighten(vis-secondary-color, 10%)

// Functional
vis-success-color            = #7bed9f
vis-danger-color             = #ff6b81
vis-warning-color            = #eccc68
vis-info-color               = #70a1ff
