@import "https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css"

@import "_variables"
@import "_mixins"
@import "_normalize"

*,
*::before
*::after
  box-sizing: border-box

html, body
  height: 100%
  text-size-adjust: 100%

html
  font-size: font-size-browser
  -ms-overflow-style: scrollbar
  -webkit-tap-highlight-color: transparent

body
  position: relative
  font-family: font-family-base
  font-size: font-size-base
  line-height: font-line-height
  background-color: body-background-color
  color: body-text-color
  padding: 0
  margin: 0
  overflow-x: hidden

.feather
  text-align: bottom 

@import "_extend"

// Partial
@import "_partial/typography"
@import "_partial/title"
@import "_partial/button"
@import "_partial/layout"
@import "_partial/carousel"
@import "_partial/section"
@import "_partial/card"
@import "_partial/instapic"
@import "_partial/archive"
@import "_partial/article"
@import "_partial/album"
@import "_partial/gallery"
@import "_partial/highlight"
@import "_partial/home"
@import "_partial/page"
@import "_partial/tocbot"

// Utilities
@import "_utilities/display"
@import "_utilities/flex"
@import "_utilities/grid"
@import "_utilities/list"
@import "_utilities/sizing"
@import "_utilities/spacing"
@import "_utilities/borders"
@import "_utilities/shadows"
@import "_utilities/filter"

// Custom
@import "_custom/index"
@import "_custom/lazyloading"

// Swiper
if swiper
  @import "_partial/swiper"

if safari
  @import "_utilities/safari"