<% if (page.prev || page.next){ %>
  <nav class="docs-nav py-4 mt-5" id="docs-nav">
    <% if (page.prev){ %>
      <a class="docs-nav-prev" href="<%- url_for(page.prev) %>.html">
        <i data-feather="chevron-left" width="16" height="16"></i> 上一页
      </a>
    <% } %>
    <% if (page.next){ %>
      <a class="docs-nav-next" href="<%- url_for(page.next) %>.html">
        下一页 <i data-feather="chevron-right" width="16" height="16"></i>
      </a>
    <% } %>
  </nav>
<% } %>

