<!-- 
  Data Files: source/_data/album.yml
  <%#= site.data.album.length %>
-->

<div class="album-grid album-grid-6" id="album-grid">
  <% for (var item in site.data.album){%>
  <div class="album-grid-item">
    <div class="album-art" style="background-image: url(<%=site.data.album[item]['cover']%>)">
      <div class="album-art-text">
        <h5 class="mb-0"><%=site.data.album[item]['name'] %></h5>
        <small class="text-secondary d-block mb-3"><%=site.data.album[item]['en_name'] %></small>
        <p class="font-w-lighter"><%=site.data.album[item]['description'] %></p>
      </div>
    </div>
  </div>
  <%} %>
</div>
