<div class="col-4">
  <div class="card rounded">
    <a href="<%= plugin.link %>">
      <img class="card-img" src="<%= plugin.cover %>" alt="<% plugin.name %>">
    </a>
    <div class="card-body bg-light">
      <h5 class="card-title">
        <%= plugin.name %>
      </h5>
      <div class="card-text text-gray"><%= plugin.description %></div>
    </div>
  </div>
</div>