<div class="col-4">
  <div class="card rounded">
    <a href="<%= url_for(plugin.link) %>">
      <img class="card-img lazyload" data-src="<%= url_for(plugin.cover) %>" alt="<% plugin.name %>">
    </a>
    <div class="card-body bg-light">
      <h5 class="card-title">
        <%= plugin.name %>
      </h5>
      <div class="card-text text-gray"><%= plugin.description %></div>
    </div>
  </div>
</div>