<% if (is_home()) { %>
	<header id="header" class="header header-absolute">
<% } else {%>
	<header class="header">
<% } %>
	<div class="container">
		<nav class="navbar d-flex justify-content-between align-items-center">
			<a class="brand" href="<%- url_for() %>">
				<img class="logo" src="<%- theme.brand %>" alt="<%= config.title %>">
			</a>
			<%- partial('_partial/menu', {class_name: 'main-nav'}) %>
		</nav>
		<a id="mobile-nav-toggle">
			<span class="mobile-nav-toggle-bar"></span>
			<span class="mobile-nav-toggle-bar"></span>
			<span class="mobile-nav-toggle-bar"></span>
		</a>
	</div>
</header>
