<div class="col-4">
  <div class="card rounded bg-white">
    <img class="card-img lazyload" data-src="<%= plugin.cover %>" alt="<% plugin.name %>">
    <div class="card-body bg-light">
      <h5 class="card-title line-clamp line-clamp-1"><%= plugin.name %></h3>
      <small class="text-warning d-block mb-3"><%= plugin.en_name %></small>
      <div class="card-text text-gray line-clamp line-clamp-2"><%= plugin.description %></div>
    </div>
  </div>
</div>
