<div class="col-4">
  <div class="card bg-white">
    <img class="card-img" src="<%= plugin.cover %>" alt="<% plugin.name %>">
    <div class="card-body bg-light">
      <h5 class="card-title"><%= plugin.name %></h3>
      <small class="text-warning d-block mb-3"><%= plugin.en_name %></small>
      <div class="card-text text-gray"><%= plugin.description %></div>
    </div>
  </div>
</div>
