//
// Article
//
.artcle-cover
  position: relative
  max-height: 20rem
  border-radius(border-radius-value)
  overflow: hidden
  .artcle-cover-img
    position: relative
    min-height: 100%
    min-width: 100%
    center-y()

.article-inner
  padding: spacer
  // Media Query
  @media mq-normal
    max-width: 80rem
    margin-right: auto
    margin-left: auto

.article-header
  margin-bottom: 1rem

.article-more-link
  margin-bottom: 0

.article-tag-list
  list-unstyled()
  &::before
    content: ''
    background-size: cover
    background-image: url(/images/icons/tag.svg)
    sizing(1em)
    display: inline-block
  .article-tag-list-item
    display: inline-block
    padding: spacer

.article-entry
  @extend $base-style

// Article Nav
// post_prev & post_next
.article-nav
  border-top: border-width border-color solid
  clearfix()
  .article-nav-link-wrap
    &#article-nav-newer
      float: left 
      text-align: left
    &#article-nav-older
      float: right
      text-align: right
    .article-nav-caption
      color: dark-color

// Article author avatar
// Avatar
.article-author-avatar
  rounded-circle(2.4em)