.btn
  display: inline-block
  border-width: border-width
  border-color: transparent
  border-radius: border-radius-value
  padding: spacer spacer * 2
  cursor: pointer

.btn-sm
  padding: spacer

.btn-lg
  padding: spacer spacer * 3

.btn-block
  display: block
  width 100%