//
//
//
.keen-slider
  position: relative
  &::before
    content: ''
    position absolute
    z-index: 1
    top 0
    right 0
    bottom 0
    left 0
    background-color rgba(darken(primary-color, 85%), .5)
  .keen-slider__slide
    height: 80vh
    padding-top: 5rem
    background-size: cover
    overflow: hidden
    &:nth-of-type(1)
      background-image: url("/images/banner.jpg")
    &:nth-of-type(2)
      background-image: url("/images/sample/mydesk.png")
  .keen-slider-inset
    height: 100%