//
// Layout
//
.container, .container-fluid
  position: relative
  margin: 0 auto
.container
  max-width: max-width
  @media screen and (max-width: 768px)
    padding-right: spacer
    padding-left: spacer
.container-full
  max-width: 100%

@import "header"
@import "footer"
@import "banner"