// 
// Main Nav
//
.main-nav
  list-unstyled()
  margin-bottom: 0
  padding: spacer 0
  .nav-item
    display: inline-block
    position: relative
    .nav-item-link
      display: inline-block
      padding: spacer
      color: dark-color
    &.active
      .nav-item-link
        color: primary-color
