//
// Navbar
//
.navbar
  position: relative
  justify-content: center
  .main-nav
    display: none
  .search-input
    position: absolute
    right: 0
    center-y()
  @media media-sm
    justify-content: space-between
    .brand
      margin-right: 5rem
    .main-nav
      display: block
