//
// Pages
//
.page-heading
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin-bottom: 2rem
  @media media-sm
    flex-direction: row
    justify-content: space-between
