//
// List
//
.list, .list-inline
  list-unstyled()

.list-inline
  position: relative
  margin: 0 spacer * -1
  .list-inline-item
    display: inline-block
    padding-right: spacer
    padding-left: spacer
  